{{yield}}
{{#yield-slot 'info-bar'}}
  {{yield}}
{{/yield-slot}}
<div class="body">
  {{#yield-slot 'filters'}}
    {{yield}}
  {{/yield-slot}}
  {{#yield-slot 'content'}}
    {{yield}}
  {{/yield-slot}}
</div>
